<%- include("../partials/header.ejs") %>

<main class="main-section">

  <h1 class="admin-heading"><%= pageTitle %></h1>
  
  <% if(errorMessage) {%>
 <p class="message error"><%= errorMessage %></p>
 <% } %>
  <form action="/update-password" method="post" class="admin-form login-form">
        <label for="password">Your Password</label>
         <input type="password" name="password"  id="password login-password-input" placeholder="Your Password..." required></input>

       <input type="hidden" name="userId" value="<%= userId %>">
       <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
       <input type="hidden" name="_csrf" value="<%= csrfToken %>">
         <button class="btn" type="submit">Update  password</button>

      </form>

   </main>
   
<%- include("../partials/footer.ejs")  %>
