<%- include("../partials/header.ejs") %>

<main class="main-section-shop">
  <h1 class="admin-heading">User's Books</h1>
  <% if(prods.length > 0) { %>
  <div class="grid">
    <% prods.forEach( prod => { %>

    <article class="card product-item">
      <header class="card__header">
        <h1 class="product__title"><%= prod.title %></h1>
      </header>
      <div class="card__image">
        <img src="<%= prod.image %>" alt="A Book" />
      </div>
      <div class="card__content">
        <h2 class="product__price">$<%= prod.price %></h2>
        <p class="product__description">
          <%= prod.description.length > 80 ?
          `${prod.description.slice(0,70)}...` : prod.description %>
        </p>
      </div>
      <div class="card__actions admin-books">
        <a
          href="/admin/edit-book/<%= prod._id %>?edit=true"
          class="btn btn-link edit"
          >Edit</a
        >

        <!-- using asynchronous js to delete book without reloading page; -->
        <!-- <form action="/admin/delete-book/< prod._id %>" method="post"> -->
        <div>
          <button type="button" class="btn delete delete-product-btn">
            Delete
          </button>
          <input type="hidden" name="bookId" value="<%= prod._id %>" />

          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        </div>
        <!-- </form> -->
      </div>
    </article>

    <% }) %>
  </div>
  <% } else{ %>
  <div class="no-prods">
    <h1>No Products</h1>
    <p>Add Some Products :)</p>
    <a class="btn-link btn" href="/admin/add-book">Go To Admin</a>
  </div>
  <% } %>
</main>
<%- include("../partials/footer.ejs") %>
